.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr; /* Increased side nav width */
  height: 100vh; /* Fixed height */
  overflow: hidden; /* Prevent outer scrolling */
}

/* Global transition settings */
:root {
  --transition-color: 0.2s ease;
  --transition-bg: 0.2s ease;
}

main {
  padding: 2.5rem;
  box-sizing: border-box;
  transition: background-color var(--transition-bg), color var(--transition-color);
  overflow-y: auto; /* Enable scrolling */
  height: 100vh; /* Full height */
  background-color: white;
  color: black;
}

:root.dark main {
  background-color: #1a1a1a;
  color: white;
}


