.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100vh;
  overflow: hidden;
}

/* Global transition settings */
:root {
  --transition-color: 0.2s ease;
  --transition-bg: 0.2s ease;
}

main {
  padding: 2.5rem;
  box-sizing: border-box;
  transition: background-color var(--transition-bg), color var(--transition-color);
  overflow-y: auto;
  height: 100vh;
  background-color: white;
  color: black;
}

:root.dark main {
  background-color: #1a1a1a;
  color: white;
}


