@import './styles/theme.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: background-color 0.1s ease-out,
              color 0.1s ease-out,
              border-color 0.1s ease-out,
              box-shadow 0.1s ease-out;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--app-background);
  color: var(--app-text-color);
}

#root {
  width: 100%;
}
